<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824737055000-5cn8k9bd206l7ai4g65rodu4obuntfns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824737055000-5cn8k9bd206l7ai4g65rodu4obuntfns</string>
	<key>API_KEY</key>
	<string>AIzaSyA0wGP72coEy6oIkZMII64cTpFCNm4Mu_g</string>
	<key>GCM_SENDER_ID</key>
	<string>824737055000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nosqlDbs</string>
	<key>PROJECT_ID</key>
	<string>firestore-76a25</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-76a25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824737055000:ios:2d93e491a4f88c59865e6d</string>
</dict>
</plist>